
span.delete{
	color:#d00;
}



.multilang-table-header{
	background: #f1f1f1;
	border: 1px solid #C6C6C6;
}

#partial_network_languages{
	overflow: hidden;
}

#langs-table{
	float: left;
	width:63%;
}

#jcml-add-form-holder{
	float: left;
	width:33%;
	display: none;
}

#jcml-edit-form-holder{
	float: left;
	width:33%;
	display: none;
}

.language-box{
	margin-right:10px;
}

.form-field:first-child{
	width: 40px;
}

.add-lng-form{
	table-layout: auto !important;
}

.form-field td:first-of-type{
	width: 100px;
}

.multilang-table-header .table-header-language{
	width: 100px
}



.multilang-table-header .table-header-alias{
	width: 150px
}

.multilang-table-header .table-header-actions{
	width: 150px
}

.form-field td input{
	padding: 5px 5px;
}